<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :user_name %>
  </div>

  <hr />

  <div class="field">
    <%= form.label :avatar %>
    <% if form.object.avatar.present? %>
      <div>
        <%= image_tag form.object.avatar.url(:default) %>
      </div>
      <div>
        <%= form.label :remove_avatar do %>
          <%= form.check_box :remove_avatar, id: :user_remove_avatar  %>
          Remove Avatar
        <% end %>
      </div>
    <% end %>
    <%= form.hidden_field :avatar_cache  %>
    <%= form.cl_image_upload(:avatar, tags: form.object.avatar.direct_uploading_tags, html: { id: 'user_avatar' }) %>
  </div>

  <hr />

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
